  <section>
    <div class="ui two column grid basic top aligned segment">
      
      <div class="column">
        <b>Temperature:</b> <span id="currenttemp"></span> °C / <span id="ftemp"></span> °F<br/>
        <b>Pressure:</b> <span id="currentpress"></span> mb<br/>
        <b>Humidity:</b> <span id="currenthum"></span> <br/><br/>      
      </div>
      <div class="column">
        <iframe width="140" height="140" style="border: 1px solid #ffffff;" src="https://thingspeak.com/apps/plugins/320414"></iframe>
      </div>
    </div>
    <script>
    
      const thingspeak_url = "https://api.thingspeak.com/channels/926237/feeds/last.json?api_key=DFH5LXDRUUQT0UX4&results=1";   
      async function getThingspeakData(){
        const response = await fetch(thingspeak_url);
        const json = await response.json();
        document.getElementById('currenttemp').textContent = json.field1;
        document.getElementById('currentpress').textContent = json.field2;
        document.getElementById('currenthum').textContent = json.field3;
      }
      getThingspeakData();  
      
      const thingspeak_url2 = "https://api.thingspeak.com/channels/942139/feeds/last.json?api_key=1S0EJJZIN96CH6K3&results=1"; 
      
      async function getTempF(){
        const response = await fetch(thingspeak_url2);
        const json = await response.json();
        document.getElementById('ftemp').textContent = json.field1;
      }
      getTempF();  
    </script>
  </section>
